<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>This is a prototype of the <%= yield(:title) %> page.</h1>
    <p>This is the prototype of contact section</p>
  </body>
</html>


