<% provide(:title, 'Education') %>
<!DOCTYPE html>
<html>
	<body>
		<h1><strong>Education</strong></h1>
		<br>
			<div class="text-presentation">
		
			<h3 class="university-title", align="left">Complutense University of Madrid</h3>
			<br>
			<%= link_to image_tag("ucm_logo.png", :alt => "upm img", width:"30%", align:"left", hspace:"20", vspace:"20"), "https://www.ucm.es/", target: "_blank" %> 
			This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app.  
		</div>
		<br><br>
		
		<div class="text-presentation">
		
			<h3 class="university-title", align="right">Polytechnic University of Madrid</h3>
			<br>
			<%= link_to image_tag("upm_logo.png", :alt => "upm img", width:"30%", align:"right", hspace:"20", vspace:"20"), "https://www.upm.es/", target: "_blank" %> 
			This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. 
		</div>
		<br><br>

		<div class="text-presentation">
		
			<h3 class="university-title", align="left">University of the Balearic Islands</h3>
			<br>
			<%= link_to image_tag("uib_logo.png", :alt => "upm img", width:"30%", align:"left", hspace:"20", vspace:"20"), "https://www.uib.es/es/", target: "_blank" %> 
			This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. This is the about me page for the a noob data scientist app. 
		</div>
	</body>
</html>