<% provide(:title, 'Education') %>
<!DOCTYPE html>
<html>
	<body>
		<h1><strong>Education</strong></h1>
		<br>
			<div class="text-presentation">
		
			<h3 class="university-title", align="left">Complutense University of Madrid (UCM)</h3>
			<br>
			<%= link_to image_tag("ucm_logo.png", :alt => "upm img", width:"30%", align:"left", hspace:"20", vspace:"20"), "https://www.ucm.es/", target: "_blank" %> 
			Considered to be one of the oldest universities in the world and one of the best universities in Spain. This university is home to over 86,000 students and has led to many famous historians, philosophers, poets and Prime Ministers. Its graduates are given ‘lifelong training’ that furnishes them with professional skills allied to their chosen fields of work and alongside their academic studies. 
			<br><br>
			The UCM is in the top 100 in the branch of Arts and Humanities, specifically in position 76, in position 129 in Social Sciences, in position 158 in the branch of Sciences, in position 170 in Life Sciences and Medicine, and in position 229 in Engineering and Technology according to the QS ranking. On the other hand, the The Time’s University Ranking 2020 places the UCM among the 300 best universities in the world in the area of pre-clinical, clinical and health sciences as well as among the 500 best in technology, engineering and computer science. In addition, the UCM is amongst the top 300 universities in the world, in the 201-300 range globally and at the range of 2-5th position in Spain, according to the Academic Ranking of World Universities 2019 (ARWU).
		</div>
		<br><br>
		
		<div class="text-presentation">
		
			<h3 class="university-title", align="right">Polytechnic University of Madrid (UPM)</h3>
			<br>
			<%= link_to image_tag("upm_logo.png", :alt => "upm img", width:"30%", align:"right", hspace:"20", vspace:"10"), "https://www.upm.es/", target: "_blank" %> 
			The Polytechnic University of Madrid was founded in 1971, from the merging of different technical schools, although its origins date as far back as the 18th century. Originally established to teach architecture and engineering in the country, the institution has grown rapidly and is now home to over 41,000 students. It comprises 21 separate schools based on four campuses across Madrid, with its Moncloa Campus denoted as an 'International Campus of Excellence’, a distinction that acknowledges the quality of its research and teaching activity.
			<br><br>
			While the university’s courses have grown and adapted over the years to align with changes in industry, the institution has retained a strong technical focus and boasts several strategic partnerships with professional bodies and external research centres. Its engineering schools are consistently ranked among the best in Europe. With a vibrant multicultural environment, students are encouraged to undertake one of the 400 study abroad programmes it has with higher education institutions in Europe and globally. 
			The Time’s University Ranking 2020 ranking places the university as the 85th best university in the world in industry, innovation and infrastructure.

		</div>
		<br><br>

		<div class="text-presentation">
		
			<h3 class="university-title", align="left">University of the Balearic Islands (UIB)</h3>
			<br>
			<%= link_to image_tag("uib_logo.png", :alt => "upm img", width:"30%", align:"left", hspace:"20", vspace:"40"), "https://www.uib.es/es/", target: "_blank" %> 
			The University of the Balearic Islands is a Balearic Spanish university, founded in 1978 and located in Palma on the island of Majorca. The UIB has gained renowned prestige in research with major international impact. This has been reflected by the results attained by the university in different research quality rankings. The Time’s University Ranking 2020 ranking places the UIB in the 601-800 global position range for the best universities in the world. The ranking also places the UIB as the sixth best in Spain in terms of publication citations of its researchers. The international Highly Cited Researchers 2018 ranking from Clarivate Analytics spotlights five researchers from the University of the Balearic Islands as amongst the most influential in the world, since they have several works amongst the top 1% of the most cited in their field of study for a single year.
			<br><br>
			By discipline, the UIB is in the 401-500 range for the best universities in the world for Education Sciences, Engineering and Technology, and Arts and Humanities. On the other hand, the UIB is amongst the top 500 universities in the world, in the 401-500 range globally and at 11th position in Spain, according to the Academic Ranking of World Universities 2019 (ARWU).

		</div>
	</body>
</html>