<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center">		
			<h1><strong>Welcome</strong><br><text style="color:#C2C2C2 ;font-size:30px;">to my personal website</text></h1>	
			
		</div>

		<br>
		<p class="text-presentation">
			This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app.

		<%= image_tag("Profile.jpg", :alt => "profile img", :size => "225x250", align:"left", hspace:"20", vspace:"20", class:"profile-image") %> 

		This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app.
		a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app. This is the home page for the a noob data scientist app.
		</p>
	</body>
</html>

