<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center">		
			<h1><strong>Welcome</strong><br><text style="color:#C2C2C2 ;font-size:30px;">to my personal website</text></h1>	
			
		</div>

		<br>
		<p class="text-presentation">
      <%= image_tag("Profile.jpg", :alt => "profile img", :size => "225x250", align:"left", hspace:"20", vspace:"10", class:"profile-image") %>

    <h2>Current positions</h2>

    <h3>PhD student in Computer Engineering at Complutense University of Madrid</h3>
    Life is a path of opportunities and during this journey I was lucky enough to come across a wonderful research group during my internship at the Complutense University of Madrid. This group was dedicated to applying Artificial Intelligence to problems in the clinical field, and look at you, I thought it was an excellent idea. I am currently in the second year of a phD at the Department of Computer Architecture and Automatics of the Complutense University of Madrid where we are developing very cool projects in collaboration with the Hospital Clínico San Carlos.

    In summary, my main role is to research, develop and implement strategies based on the state of the art in the field of Artificial Intelligence to real-world problems in the clinical context.

    <br>
    <h3>Quantitative Analyst at Investing PROFit Wisely, S.L.</h3>
    In many occasions you don't know where life is taking you, in my case, I ended up discovering an exciting world in quantitative analysis in the field of investment, a difficult and therefore exciting area. In this context I am mainly involved in the development and research of Machine Learning algorithms for quantitative analysis based on fundamental and market data for the design of stock market trading and investment strategies.



    <h2>Publications</h2>
    García Gutiérrez et al. (n.d.). Journal of Neurology, Neurosurgery, and Psychiatry. Diagnosis of Alzheimer’s disease and behavioral variant frontotemporal dementia with machine learning-aided neuropsychological assessment using feature engineering and genetic algorithms.
    <br>
    <br>
    García Gutiérrez et al. (n.d.). Elsevier. Design and Implementation of a Tool based on Machine-Learning Techniques for Computer-Aided Diagnosis of Neurodegenerative Diseases.

    <br>
    <h2>Carrer</h2>
    <h3>Internship at the Department of Computer Architecture and Automatics of the Complutense University of Madrid</h3>
    Development of predictive models of neurodegenerative diseases based on Machine Learning techniques and database management.

    <br>
    <h3>Master in Computational Biology at the Polytechnic University of Madrid.</h3>
    Program in Bioinformatics, Big Data and Artificial Intelligence. Master's degree in English with honors in Big Data and Fundamentals of Programming.

    Master's thesis: <b>Tool for Automatic Diagnosis of Neurodegenerative Diseases by Machine Learning Techniques</b>

    <br>
    <h3>Degree in Biochemistry</h3>
    Degree's thesis: <b>Study of the rise and applications of DESI-MS (Desorption Electrospray Ionization Mass Spectrometry) and REIMS (Rapid Evaporative Ionization Mass Spectrometry) technologies.</b>

    <br>
    <h2>Technical knowledge</h2>
    <h3>Programming</h3>
    Proficient in several programming languages, design patterns and several years of programming experience.
    <ul>
      <li>Python</li>
      <li>Cython</li>
      <li>R</li>
      <li>Ruby</li>
      <li>C++</li>
      <li>Java</li>
      <li>Scala</li>
      <li>Julia</li>
      <li>SQL</li>
      <li>Matlab</li>
    </ul>
    Knowledge of frameworks such as: PyTorch, TensorFlow, Scikit-learn, Keras, Spark, openAI gym, Numpy, Pandas, DEAP, Django, Networkx, Matplotlib, Seaborn, Plotly, bnlearn, mlr R, ggplot2, dplyr, tidyr, Caret, Ruby On Rails, ...
    Additionally, I have experience with Weka, SPM12, FreeSurfer and genomic and evolutionary analysis programs/tools.

    <br>
    <h3>Artificial Intelligence</h3>
    Extensive knowledge of supervised/unsupervised classification models, regression, Deep Learning and Reinforcement Learning, heuristic/metaheuristic techniques and probabilistic and causal graphical models.

    <br>
    <h3>Statistical analysis</h3>
    Knowledge of statistical analysis and visualization techniques.

    <br>
    <h3>Databases</h3>
    Relational and non-relational databases as well as Ontology design.

    <br>
    <h3>Others</h3>
    Knowledge of Linux, GitHub, Jupyter, Docker, Pypi and LaTex.

    <h2>Some works</h2>
    <ul>
      <li>Optimization frameworks (<a href="https://github.com/FernandoGaGu/Ant-Colony-Optimisation">antco</a>) (<a href="https://github.com/FernandoGaGu/pywinEA">PyWinEA</a>) (<a href="https://github.com/FernandoGaGu/beagle">beagle</a>)</li>
      <li>Computer vision (<a href="https://github.com/FernandoGaGu/chest-xray-pyspark">chest-xray-pyspark</a>)</li>
      <li>Complex systems modeling (<a href="https://github.com/FernandoGaGu/simamics">simamics</a>)</li>
      <li>Ontology design (<a href="https://github.com/FernandoGaGu/DrugInterBankOntology">DrugInterBankOntology</a>)</li>
    </ul>

		</p>
	</body>
</html>

