<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
	<body>
		<div class="center">		
			<h1><strong>Welcome</strong><br><text style="color:#C2C2C2 ;font-size:30px;">to my personal website</text></h1>	
			
		</div>

		<br>
		<p class="text-presentation">
			Why did I create this website? Well, even I don't know it, one day I was bored and wanted to learn some web programming. I just downloaded a Ruby on Rails book, and this was the result.
			<br>
			<br>
			My name is Fernando and I'm from Cantabria, in the north of Spain, a place where I wouldn't know if there were more cows than rain. After finishing high school, I went to Mallorca to study Biochemistry. Mallorca seemed like a good place to me. I chose to study Biochemistry because I was intrigued by how everything works, the mind, the body, basically knowing how we function. In essence why we are what we are and, why we do what we do. I shouldn't have discovered it due to I quickly moved into the world of computers. I'm just kidding, the truth is that I could learn a lot, in addition to the knowledge inherent in the career (broad, broad… knowledge), I acquired a great capacity for abstract, logical and creative thinking.
			<br>
			<br>
			
		<%= image_tag("Profile.jpg", :alt => "profile img", :size => "225x250", align:"left", hspace:"20", vspace:"10", class:"profile-image") %> 

			 During my last years of college, the world of programming began to call me.  Initially, I found it to be extremely powerful and a great source of opportunities for creativity. Two of the main pillars that sustain our future. So, I went deep into it. I went to the library, I took a C++ book and that's where it all started. I was so passionate about this world that after finishing my degree in Biochemistry, I considered studying computer science. After thinking about it for a long time, I ended up doing a master's degree in Computational Biology at the Polytechnic University of Madrid. If the world of computer science and programming was already becoming one of my favourite areas, the master’s degree undoubtedly reaffirmed this. During this period, I was deeply involved in everything related to Artificial Intelligence. There is no doubt that AI represents a powerful tool, for example, the ability of a neural network such as those developed by DeepMind to learn from scratch how to play a game like GO is a good example. But not only are such techniques capable of imitating human problem-solving skills, they far surpass them.  All this made me realize what I wanted to do.
			<br>
			<br>
			Life is a path of opportunities and during this journey I was lucky enough to come across a wonderful research group during my internship at the Complutense University of Madrid. This group was dedicated to applying AI techniques to problems in the clinical field, and look at you, I thought it was an excellent idea. Today we are very used to hearing how big tech companies use AI techniques by treating people as a set of variables from which they can generate profits. Why not do the opposite?  In other words, why not put these tools at the service of people to really improve their lives? That's what we do. I am currently in the first year of a phD at the Departamento de Arquitectura de Computadores y Automática at the Complutense University of Madrid where we are developing very cool projects in collaboration with the Hospital Clínico San Carlos. In summary, I’m on a hard but rewarding path, where I seek to do something that really matters by improving people's lives.
			<br>
			<br>
			So, after this introduction let me tell you a little bit about what you will find on this website. In the projects section you will find a brief description of .... of projects. By clicking on the posters of each project you will find more detailed information. Anyway, everything is very intuitive and there is really not much more to see .... But what is this website really about? A website to add to my CV? A monument to my ego? See what I can do? Learn Ruby on Rails? Try to bring technology closer to people? Boredom? Maybe a little of everything. I like programming and I do it when I get bored.

		</p>
	</body>
</html>

