<% provide(:title, 'Home') %>
<!DOCTYPE html>
<html>
	<body>
		<h1>This is a prototype of the <%= yield(:title) %> page</h1>
		<p>
		This is the home page for the a noob data scientist app.
		</p>
	</body>
</html>