<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <body>
    <h1>This is a prototype of the <%= yield(:title) %> page.</h1>
    <p>Here will be the information about why contact me and a button to the contact form</p>
    <h3><%= link_to "Contact form", new_contact_path %></h3>
  </body>
</html>


