<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <body>
    <h1><strong>Contact</strong></h1>
    <p class="text-presentation">If for any reason you want to contact me, for example to ask for more information, make suggestions, discuss projects, information on education, etc., you can do so by clicking on the chat image.  This will take you to a form that you can fill in and send it to me. I will try to answer you as soon as possible. </p>
    <h3 align="center"><%= link_to image_tag("contact_me.jpg", size:"150x150"), new_contact_path %></h3>
  </body>
</html>


