<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
  <body>
    <h1><strong>Contact</strong></h1>
    <p class="text-presentation">Here will be the information about why contact me and a button to the contact form. Here will be the information about why contact me and a button to the contact form. Here will be the information about why contact me and a button to the contact form. Here will be the information about why contact me and a button to the contact form. Here will be the information about why contact me and a button to the contact form</p>
    <h3 align="center"><%= link_to image_tag("contact_me.jpg", size:"150x150"), new_contact_path %></h3>
  </body>
</html>


