<footer class="footer">
	<small>
		AnoobDataScientist by Fernando García
	</small>
	<nav>
	<ul>
		<li><%= link_to "Projects", projects_path %></li>
		<li><%= link_to "Education", education_path %></li>
		<li><%= link_to "Contact", contacts_path %></li>				
	</ul>
	</nav>	
</footer>

