<header class="navbar navbar-fixed-top">
  <div class="navbar-inner"> 
    <div class="topnav">     
      <nav class="active">        
          <%= link_to "Home", root_path %>
          <%= link_to "Projects", projects_path %>
          <%= link_to "Contact", contacts_path %>
          <%= link_to "Education", education_path %>
      </nav>
    </div>
  </div>
</header>